.circulo {
    width: 100px;
    height: 100px;
    max-width: calc(100vh - 20px);
    cursor: pointer;
    border-radius: 50%;
  }

  .image{
    background-image: url("https://contenidos.benidorm.org/sites/default/files/styles/wide_background/public/film_office_benidorm-_avenida_alfonso_puchades.jpg");
    background-color: black;
    width: auto;
    height: 100%;
    background-repeat: no-repeat;
  }

  .btn{
    width: 100px;
  }

  .btn-purpura{
    background-color: blueviolet;
    color: white;
  }